[[source]]
verify_ssl = true
name = "pypi"
url = "https://pypi.python.org/simple"

[requires]
python_version = "3.5"

[dev-packages]

[packages]
"beautifulsoup4" = "==4.6.0"
"bs4" = "==0.0.1"
click = "==6.7"
dnspython = "==1.15.0"
itsdangerous = "==0.24"
"jinja2" = "==2.10"
markupsafe = "==1.0"
pymongo = "==3.6.1"
werkzeug = "==0.14.1"
Flask = "==1.0.2"
