<!doctype html>
<!DOCTYPE html>
<html>
<head>
	<title>Weather Record DashBoard</title>
</head>
<body>
	<h2 style="text-align: center;">Administrator Dashboard</h2>

	<form action="/startWeatherProcess" method="POST" style="background-color: pink;  border: 2px solid blue; margin-right: 50%;border-radius: 8px; padding: 20px 0px 20px 20px;">
		Enter your name : <input type="text" name="name"/>
		<br/>
		Pass Key : <input type="password" name="password" /><br/>
		<button type="submit" value="Start Weather Processing">Start Weather Processing</button>

	</form><br/>
	<hr/>
	<h3>Currently supported cities and states below</h3>


	<h3>State : Odisha </h3>
	<h4>Cities</h4>
	<ol>
		{% for city in cities_OD %}

		<li>{{city}}
		</li>
		{% endfor %}
	</ol>

	<h3>State : West Bengal </h3>
	<h4>Cities</h4>
	<ol>
		{% for city in cities_WB %}

		<li>{{city}}
		</li>
		{% endfor %}
	</ol>
	<h3>State : Uttar Pradesh </h3>
	<h4>Cities</h4>
	<ol>
		{% for city in cities_UP %}

		<li>{{city}}
		</li>
		{% endfor %}
	</ol>

	<h3>State : Puducherry </h3>
	<h4>Cities</h4>
	<ol>
		{% for city in cities_Puducherry %}

		<li>{{city}}
		</li>
		{% endfor %}
	</ol>
	<h3>State : Punjab </h3>
	<h4>Cities</h4>
	<ol>
		{% for city in cities_Punjab %}

		<li>{{city}}
		</li>
		{% endfor %}
	</ol>
	<h3>State : Rajasthan </h3>
	<h4>Cities</h4>
	<ol>
		{% for city in cities_Rajasthan %}

		<li>{{city}}
		</li>
		{% endfor %}
	</ol>
	<h3>State : Sikkim </h3>
	<h4>Cities</h4>
	<ol>
		{% for city in cities_Sikkim %}

		<li>{{city}}
		</li>
		{% endfor %}
	</ol>
	<h3>State : Tamil Nadu </h3>
	<h4>Cities</h4>
	<ol>
		{% for city in cities_TamilNadu %}

		<li>{{city}}
		</li>
		{% endfor %}
	</ol>
	<h3>State : Tripura </h3>
	<h4>Cities</h4>
	<ol>
		{% for city in cities_Tripura %}

		<li>{{city}}
		</li>
		{% endfor %}
	</ol>
	<h3>State : Uttarakhand </h3>
	<h4>Cities</h4>
	<ol>
		{% for city in cities_Uttarakhand %}

		<li>{{city}}
		</li>
		{% endfor %}
	</ol>
	<h3>State : Andhra Pradesh </h3>
	<h4>Cities</h4>
	<ol>
		{% for city in cities_AP %}

		<li>{{city}}
		</li>
		{% endfor %}
	</ol>
	<h3>State : Arunachal Pradesh </h3>
	<h4>Cities</h4>
	<ol>
		{% for city in cities_AruP %}

		<li>{{city}}
		</li>
		{% endfor %}
	</ol>
	<h3>State : Bihar </h3>
	<h4>Cities</h4>
	<ol>
		{% for city in cities_Bihar %}

		<li>{{city}}
		</li>
		{% endfor %}
	</ol>
	<h3>State : Chattisgrah </h3>
	<h4>Cities</h4>
	<ol>
		{% for city in cities_Chatis %}

		<li>{{city}}
		</li>
		{% endfor %}
	</ol>
	<h3>State : Gujarat </h3>
	<h4>Cities</h4>
	<ol>
		{% for city in cities_Guj %}

		<li>{{city}}
		</li>
		{% endfor %}
	</ol>
	<h3>State : Haryana </h3>
	<h4>Cities</h4>
	<ol>
		{% for city in cities_Haryn %}

		<li>{{city}}
		</li>
		{% endfor %}
	</ol>
	<h3>State : Himachal Pradesh </h3>
	<h4>Cities</h4>
	<ol>
		{% for city in cities_HP %}

		<li>{{city}}
		</li>
		{% endfor %}
	</ol>
	<h3>State : Jammu and Kashmir </h3>
	<h4>Cities</h4>
	<ol>
		{% for city in cities_JK %}

		<li>{{city}}
		</li>
		{% endfor %}
	</ol>
	<h3>State : Jharkhand </h3>
	<h4>Cities</h4>
	<ol>
		{% for city in cities_JHK %}

		<li>{{city}}
		</li>
		{% endfor %}
	</ol>
	<h3>State : Karnataka </h3>
	<h4>Cities</h4>
	<ol>
		{% for city in cities_Karnataka %}

		<li>{{city}}
		</li>
		{% endfor %}
	</ol>
	<h3>State : Kerela </h3>
	<h4>Cities</h4>
	<ol>
		{% for city in cities_Kerela %}

		<li>{{city}}
		</li>
		{% endfor %}
	</ol>

	<h3>State : Madhya Pradesh </h3>
	<h4>Cities</h4>
	<ol>
		{% for city in cities_MadhyaPradesh %}

		<li>{{city}}
		</li>
		{% endfor %}
	</ol>

	<h3>State : Maharashtra </h3>
	<h4>Cities</h4>
	<ol>
		{% for city in cities_Maharashtra %}

		<li>{{city}}
		</li>
		{% endfor %}
	</ol>
	<h3>State : Manipur </h3>
	<h4>Cities</h4>
	<ol>
		{% for city in cities_Manipur %}

		<li>{{city}}
		</li>
		{% endfor %}
	</ol>
	<h3>State : Meghalaya </h3>
	<h4>Cities</h4>
	<ol>
		{% for city in cities_Meghalaya %}

		<li>{{city}}
		</li>
		{% endfor %}
	</ol>

	<h3>State : Mizoram </h3>
	<h4>Cities</h4>
	<ol>
		{% for city in cities_Mizoram %}

		<li>{{city}}
		</li>
		{% endfor %}
	</ol>
	<h3>State : Nagaland </h3>
	<h4>Cities</h4>
	<ol>
		{% for city in cities_Nagaland %}

		<li>{{city}}
		</li>
		{% endfor %}
	</ol>




</body>
</html>
